{% extends 'countries/base.html' %}
{% block title %}Info mapify{% endblock %}
{% block content %}
    <header>
		<h1>Country by id</h1>
	</header>
	<main>
        <form>
            <label for="pk">Enter a number (1-193):</label>
            <input type="text" id="name" name="pk">
            <button type="submit">Submit</button>
        </form>
        <div id="output">
            {% if 'pk' in request.GET %}The country is {{ name }}.
            {% else %} Sosi pisos!
            {% endif %}
        </div>
        <div id="right">

        </div>
	</main>

{% endblock %}
